[workflows]
runButton = "Serve website"

[[workflows.workflow]]
name = "Serve website"
mode = "sequential"
author = 24000125

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 8000"

[[workflows.workflow]]
name = "?"
mode = "sequential"
author = 24000125

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ~/workspace/hl/webXash"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
