main {
    background-color: whitesmoke;
}


@media screen and (max-width: 750px) {
    .info {
        padding-top: 100px;
    }
}

.overlay {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 1000;
    pointer-events: none;
    background-color: rgba(0,0,0,0.3);
}